<h1>Secret Page</h1>

<p>Your found me!</p>

<img src="http://www.mingleg.com/wp-content/uploads/2015/04/zhangbozhi_gaogenrousiwa.jpg" alt="">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>